body{
  padding-top: 70px;
  margin-bottom: 30px;
  background-image: url(img/bg.jpg);
}

/*Navigation bar*/

.navbar{
  background-color: #6E6F6F;
  border-bottom: 1px solid #ABABAB;
}
.icon-bar{
  background-color: #FFF;
}

.navbar-brand{
  color: #FFF !important;
}
.nav a{
  color: #FFF !important;
}
.nav a:hover{
  color: #F1B81E !important;
}
.form-control{
  margin-bottom: 5px !important;
}
.showProducts{
	cursor: pointer;
	font-size: 10px;
}

.shopPanel{
	background-color: #E1E1E1;
	border-bottom: 1px solid #A2A2A2;
}

.addShopForm{
	margin-bottom: 20px;
}

.editShop{
	margin-left: 10px;
  width: 30%;
}

.shopText, .editBtn, .removeBtn, .okBtn{
  cursor: pointer
}

.editBtn{
  color: #404DF7;
}

.removeBtn{
  color: #FA3434;
}

.okBtn{
  color: #50F13B;
}