
	<div class="input-group add-task">
		<div class="row addShopForm">
			<div class="col col-sm-3 col-xs-6">
				<input type="text" class="form-control" ng-model="newShop.name" placeholder="Название">
			</div>
			<div class="col col-sm-3 col-xs-6">
				<input type="text" class="form-control" ng-model="newShop.address" placeholder="Адрес">
			</div>
          	<div class="col col-sm-3 col-xs-6">
          		<input type="text" class="form-control" ng-model="newShop.working" placeholder="Время работы">
          	</div>
          	<div class="col col-sm-3 col-xs-6">
          		<span class="input-group-btn">
		            <button class="btn btn-success" ng-click="add(newShop)">Add Shop</button>
		        </span>
          	</div>
      </div> <!-- /.row -->
    </div><!--  /.input-group.add-task -->
	<div class="panel panel-default">
	  <div ng-repeat="shop in shops">
	  	<div ng-hide="shop.editable">
		  	<div class="shopPanel">
			    <div class="row panel-heading">
			    	<div class="col col-xs-11 shopText" ng-click="shop.showProducts = !shop.showProducts">
			    		<div class="panel-title"><span>{{shop.number}}.</span> {{shop.name + ", адрес: " + shop.address + ", время работы: " + shop.working}}</div>
			      	</div>
			      	<div class="col col-xs-1"><span class="glyphicon glyphicon-edit editBtn" ng-click="shop.editable=!shop.editable"></span></div>
		      	</div><!-- /.row -->
		    </div><!-- /.shopPanel -->
			<div ng-show="shop.showProducts" class="table-responsive">
				<table class="table table-striped">
					<tr>
						<th>Название товара</th>
						<th>Описание</th>
					</tr>
					<tr ng-repeat="product in shop.products">
							<td ng-hide="product.editable">{{product.name}}</td>
							<td ng-hide="product.editable">{{product.description}}</td>
							<td ng-hide="product.editable"><span class="glyphicon glyphicon-trash removeBtn" ng-click="rewriteProduct(shop,product,false)"></span></td>
							<td ng-hide="product.editable"><span class="glyphicon glyphicon-pencil editBtn" ng-click="product.editable=!product.editable"></span></td>

							<td ng-show="product.editable"><input class="editProduct" type="text" ng-model="product.name" placeholder="Название"></td>
							<td ng-show="product.editable"><input class="editProduct" type="text" ng-model="product.description" placeholder="Описание"></td>
							<td ng-show="product.editable"><span class="glyphicon glyphicon-trash removeBtn" ng-click="rewriteProduct(shop,product,false)"></span></td>
							<td ng-show="product.editable"><span class="glyphicon glyphicon-ok okBtn" ng-click="rewriteProduct(shop,product,true)"></span></td>
					</tr>
				</table>
				<div class="addProduct">Add new product: <input type="text" class="productInput" ng-model="newProduct.name" placeholder="Название"><input type="text" class="productInput" ng-model="newProduct.description" placeholder="Описание"> <button class="btn btn-default" ng-click="addProduct(newProduct,shop)">Add Product</button></div>
			</div><!-- /.table-responsive -->
		</div><!-- /ng-hide="shop.editable" -->
		<div ng-show="shop.editable">
			<div class="shopPanel">
			    <div class="row panel-heading">
			    	<div class="col col-xs-10 shopText">
			    		<div class="panel-title"><span>{{shop.number}}.</span><input class="editShop" type="text" ng-model="shop.name" placeholder="Название"><input class="editShop" type="text" ng-model="shop.address" placeholder="Адрес"><input class="editShop" type="text" ng-model="shop.working" placeholder="Время работы"></div>
			      	</div>
			      	<div class="col col-xs-1"><span class="glyphicon glyphicon-trash removeBtn" ng-click="rewriteShop(shop,false)"></span></div>
			      	<div class="col col-xs-1"><span class="glyphicon glyphicon-ok okBtn" ng-click="rewriteShop(shop,true)"></span></div>
		      	</div><!-- /.row -->
		    </div><!-- /.shopPanel -->
		</div><!-- /ng-show="shop.editable" -->
	  </div><!-- /ng-repeat="shop in shops" -->
	</div><!-- /.panel -->
